body {
	background-color: Lightblue;
	color: white;
}

Nav {
	height: 200px;
	width: 200px;
	float: left;
	padding: 5px;
	line-height: 30px;
}

footer {
	text-align: center;
	
}

#memeImage {
	margin-right: 200px;
}

Header {
	text-align: center;
	font-size: 150%;
	font-style: bold;
}

.ButtonStrt {
	background-color: white;
	width: 75px;
	height: 25px;
	border-radius: 15px;
	border-color: green;
}

.ButtonStop {
	background-color: white;
	width: 75px;
	height: 25px;
	border-radius: 15px;
	border-color: red;
}